# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Builds/
Assets/Bundles/tracker.asset
[Aa]ssetBundles/
#Assets/StreamingAssets/AssetBundles.meta

# =============== #
# Source assets #
# =============== #
_Archive/
_EdBackups/
_Screenshots/
_WorkInProgress/


# =============== #
# FMOD #
# =============== #
#MyAudio/
fmod.log
fmod_editor.log
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta
FMODStudioCache.*

.DS_Store



# =============== #
# VSCode #
# =============== #
.vscode/



# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

/.vs/
.consulo/
*.tmp
*.pdb
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# Android #
# ============ #
/Android/
/Project/
/MeshExporter
~$*.*


# ============ #
# CI #
# ============ #
DownloadAssets
/_Archive/
/iPhoneBuild/
/Build/
Assets/Yodo1SDK/Editor/AndroidAPI/Build/GradleTemplate/app**
Assets/Yodo1SDK/Editor/AndroidAPI/Build/yodo1config**
Assets/Plugins/FMOD/lib/win/x86_64/fmodstudiol.dll
Assets/Plugins/FMOD/lib/win/x86_64/fmodstudiol.dll.meta
Logs/
MemoryCaptures/
Packages/manifest.json
Assets/StreamingAssets/Users**
Assets/StreamingAssets/**/*.meta
